/*
 * Empty Stylesheet file.
 */

#border{
    -fx-background-color: lightblue;
 
        
}
.button{
    -fx-background-color: darkblue;
    -fx-text-fill: whitesmoke;
    -fx-font: sans-serif;
   
}